# System files
.DS_Store
Thumbs.db

# Node modules (future-proof)
node_modules/

# Editor junk (vscode)
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (just in case)
.env
