
/* all */
* 
{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar 
{
    display: none;
}
::selection
{
    color: #fff;
    background-color: transparent;
    backdrop-filter: blur(80px);
}

html
{
    overflow-x: hidden;
}
body 
{
    background: #0f0e0e;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a 
{
    text-decoration: none;
}


/* cursor */
.cursor 
{
    position: fixed;
    height: var(--circle);
    width: var(--circle);
    transform:scale(1);
    border-radius: 50%;
    transition: all 0.35s, top 0s, left 0s;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
  
.cursor:first-child {
    background-color: #fff;
    --circle:9px
}
.cursor.second-cursor {
    background-color: none;
    border:1.5px solid #fff;
    --circle:30px;
}
  
.cursor:first-child.big{
    --circle:60px;
}
.second-cursor.big { 
    --circle:0px;
    border-width:0px;
}


/* site fonts */
@font-face 
{
    font-family: 'Graflows';
    src: url('fonts/Graflows.otf');
}
@font-face 
{
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf');
}
@font-face 
{
    font-family: 'Cinzel';
    src: url('fonts/Cinzel.ttf');
}
@font-face 
{
    font-family: 'Raphael';
    src: url('fonts/Raphael.otf');
}


/* site nav */
.nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
}
.nav .logo 
{
    font-family: 'Cinzel';
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

/* nav links */
.nav ul  
{
    display: flex;
    gap: 2em;
}
.nav ul li 
{
    list-style: none;
}
.nav a 
{
    color: #fff;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    font-size: .9rem;
}


/* home */
#home 
{
    width: 100%;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

#home .bg 
{
    width: 350px;
    height: 380px;
}
#home .bg img 
{
    width: 100%;
    height: 100%;
    outline: 1px solid #fff;
    outline-offset: -7px;
}

#home .cta 
{
    padding: 1em 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
}
#home .cta h1 
{
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: .5em;
}

#home .cta a 
{
    color: #fff;
    padding: 1.1em 1.5em;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: .8rem;
    font-weight: 500;
    transition: .5s;
}
#home .cta a:hover 
{
    background-color: #fff;
    border: none;
    color: #141414;
}


/* about */
#about 
{
    width: 100%;
    margin-top: 20vh;
    background-color: #141519;
    border: 1px solid #ba9571;
}
#about .row 
{
    width: 100%;
    display: flex;
    gap: 0;
}

#about .col-1 
{
    width: 20%;
    height: 50vh;
    position: absolute;
    margin-left: 36%;
    margin-top: 2%;
    border: 1px solid #ba9571;
}
#about .col-2
{
    width: 45%;
    height: 100vh;
    background-image: url('assets/dp-1.jpg');
    background-size: cover;
    border-right: 1px solid #b18d72;
    background-repeat: no-repeat;
}
#about .col-3
{
    width: 30%;
    height: 70vh;
    align-self: center;
    margin: 0 auto;
    border: 1px solid #ba9571;
}

#about .col img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about .row .name 
{
    position: absolute;
    font-family: 'Raphael';
    font-size: 4rem;
    color: #f5d9c8;
    font-weight: lighter;
    align-self: center;
    margin-top: 15%;
    margin-left: 50%;
    width: 600px;
}


/* bio */
.bio 
{
    width: 100%;
    padding: 3em 0;
    margin-top: 10vh;
}
.bio .collab
{
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: .5em 1em;
    width: fit-content;
    margin-left: auto;
    margin-right: 5%;
}

.bio .collab span 
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1aff31;
}
.bio .collab p 
{
    font-family: 'Montserrat';
    color: #fff;
    font-size: .9rem;
}

.bio .write-up 
{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    text-align: center;
}
.bio .write-up p 
{
    font-size: .8rem;
    font-family: 'Graflows';
    font-weight: lighter;
    line-height: 30px;
    letter-spacing: 1px;
}

.bio .links 
{
    width: 100%;
    padding: 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio .socials 
{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: .7em 1em;
    background: linear-gradient(#141519, #0f111d);
}

.bio .socials a 
{
    color: #fff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: .8rem;
}


/* disco */
#disco 
{
    width: 100%;
    padding: 3em 0;
    margin-top: 10vh;
}
#disco h1 
{
    font-size: 2.5rem;
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#disco .row 
{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#disco .row  .col 
{
    padding: 3em 0;
    border-bottom: 1px solid #6f7073;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#disco .row .col
{
    border-top: 1px solid #343636;
}
#disco .row .col:nth-child(2)
{
    border-top: none;
}

#disco .row .col img 
{
    width: 450px;
    height: 450px;
}
#disco .col .title 
{
    font-family: 'Graflows';
    font-size: 3rem;
    color: #ece8e8;
    position: absolute;
    margin-left: -40%;
    letter-spacing: 2px;
}

#disco .col .info 
{
    width: 80%;
    position: absolute;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
}
.col .info p 
{
    font-family: 'Cinzel';
    color: #fff;
}

.col .info a 
{
    font-family: 'Montserrat';
    font-size: .9rem;
    color: #fff;
    border: 1px solid #fff;
    padding: .5em 1em;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .5s;
}
.col .info a:hover 
{
    color: #1b1919;
    background: #fff;
}

#disco .cta 
{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
#disco .cta h1 
{
    font-family: 'Montserrat';
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#disco .cta a 
{
    font-family: 'Montserrat';
    font-size: .8rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 1em 1.4em;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .5s;
}

/* site footer */
.footer-links 
{
    padding: 1em 9.5%;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links h1 
{
    font-family: 'Cinzel';
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
}

.footer-links hr
{
    transform: rotate(20deg);
    height: 15px;
    margin-top: .15em;
}
.line-through
{
    height: 1px;
    background-color: #464545;
    border: none;
    width: 82%;
    margin: 0 auto;
}

.footer-links a, p
{
    text-decoration: none;
    font-family: 'Montserrat';
    color: #fff;
}
.footer-links li 
{
    list-style: none;
}
.footer-links ul 
{
    display: flex;
    gap: 1em;
    align-items: center;
}

.site-logo 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    gap: 1em;
    flex-direction: column;
}
.logo 
{
    display: flex;
    gap: 1em;
    margin-top: .5em;
}

.logo a 
{
    color: #fff;
    font-size: 1.2rem;
    font-weight: lighter;
}


